*{
    margin: 0;
    box-sizing: border-box;
    
}

button:hover{
    cursor: pointer;
}
// set css
$black : #000;
// heading에 쓰이는것
$dark : #191A20; 
$white : #fff; 
// 주로 자주 쓰이는 것
$primary : #183D3D; 
$secondary : #5C8374;
$tertiary : #93B1A6;

input{
            border: none;
            background-color: inherit;
    font-size: 20px;
    color: white;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: white;
}


button{
    border: none;
    border-radius: 40px;
    padding:14px 32px;
    color: white;
    font-weight: 700;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px ;
    background-color: $primary;
    color: $tertiary;

    h1{
        font-size: 25px;
        font-weight: 900;
        height: 30px;

    }
    button{
        background-color: $secondary;
        font-size: 17px;
        margin-left: 25px;

    }
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    position: relative;
    .todo{
        width: 480px;
        height: 480px;
        background-color: $tertiary;
        border-radius: 10px;
        padding: 50px;

        .todo__list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;

        }

        .todo__header{
            display: flex;
            align-items: center;

        }
        .todo__check{
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid black;
            margin-right: 15px;
        }
        .todo__updates span{
            margin-left: 10px;
        }
    }
    .new-task-btn{
        position: absolute;
        bottom: -30px;
        font-size: 30px;
        background-color: #183D3D;
        padding: 15px 24px;
        font-weight: 700;
    }
}


.modal-bg{
    background-color: rgba($color: #000000, $alpha: 0.4);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal{
        height: 120px ;
        width: 560px;
        background-color: #5C8374;
        border-radius: 10px;
        padding: 38px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button:first-child{
            background-color: #93B1A6;
            margin-right: 20px;
        }
        button:last-child{
            background-color: #183D3D;
        }
        
    }
}

.check{
    text-decoration: line-through;
    color: white;
}