@import './css/reset';
@import './css/color';

button{
    font-weight: 900;
    &:hover{
        cursor: pointer;
    }
}



nav{
    padding: 25px 40px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        color: $tertiary;
        font-size: 25px;
        font-weight: 900;
    }

    button{
        padding: 14px 32px;
        height: 50px;
        color: white;
        font-size: 17px;
        background-color: $secondary;
        border-radius: 40px;
        margin-left: 25px;
        
    }
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 180px;
    position: relative;
    .todo{
        height: 480px;
        width: 480px;
        padding: 40px 55px;
        background-color: $tertiary;
        font-size: 20px;
        border-radius: 10px;
        input{
            color: white;
            font-size: 17px;
            font-weight: 700;
            height: 24px;
            border-bottom: 2px solid $primary;

        }

        ul{


            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px ;
                div{
                    display: flex;
                    align-items: center;
                }
                .todo__list{
                    font-size: 20px;
                    font-weight: 700;
                }
                .todo__check-list{
                    border: 2px solid $dark;
                    background-color: inherit;
                    border-radius: 50%;
                    height: 14px;
                    width: 14px;
                    margin-right: 15px;
                    &:hover{
                        cursor: pointer;
                        background-color: $primary;
                    }
                }
                
                .on{
                    background-color: $primary;
                }
                .line{
                    text-decoration: line-through;
                    color: $white;
                    transition: all 1s ease;
                }
                img{
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                }
            }
        }

    }



    button{
        background-color: $primary;
        color: white;
        padding: 15px 24px;
        font-size: 25px;
        border-radius: 40px;
        position: absolute;
        bottom: -30px;

    }


}

.modal-bg{
    background-color: rgba($color: #000000, $alpha: 0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        width: 560px;
        height: 120px;
        padding: 35px;
        background-color: $secondary;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    input{
        font-size: 20px;
        font-weight: 700;
        width: 200px;
        color: white;
        &::placeholder{
            color: $white;
            font-size: 20px
        }
        
    };
    button{
            padding: 11px 30px;
            font-size: 20px;
            color: $white;
            border-radius: 40px;
            
        }
    button:first-child{
        background-color: $tertiary;
        margin-right: 15px;
    }
    button:last-child{
        background-color:$primary;
    }

}

